BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
IndentCaseLabels: true
SortIncludes: false
SpaceBeforeParens: ControlStatements
